################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuickTransport/packages
/QuickTransport/obj/Debug
/QuickTransport/bin
/QuickTransport/.vs/QuickTransport
